* {
    /*border: solid 1px red;*/
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    margin: 0px;
}

.header {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.top {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: space-around;
}

.header-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.button {
    display: flex;
    justify-content: center;
    background-color: white;
    color: red;
    max-width: 100px;
    max-height: 50px;
    margin: 5px;
    border-radius: 8px;
}

.infobox {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.sub-infobox {
    display: flex;
    justify-content: space-around;
}

.container {
    max-width: 220px;
}

.subimg {
    border: solid 5px lightblue;
    border-radius: 30%;
}

.quote {
    display: flex;
    background-color: lightgrey;
    padding: 60px;
    justify-content: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.quote-text {
    padding: 10px;
    font-style: italic;
}

.quote-name {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

.bottom {
    display: flex;
    justify-content: center;
    background: white;
    padding: 50px;
}

.bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    max-width: 800px;
    padding: 20px;
    color: white;
}

.bottom-text {
    max-width: 600px;
    padding: 5px;
}

.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border: solid 5px white;
    color: white;
    max-width: 100px;
    max-height: 50px;
    padding: 7px;
    margin: 5px;
    border-radius: 8px;
}

ul {
    display: flex;
    padding: 0px;
    gap: 20px;
    list-style: none;
    justify-content: left;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: lightblue;
    color: red;
}

p {
    margin: 5px;
    font-size: 18px;
}

h1 {
    margin: 5px;
    font-size: 48px;
}

h2 {
    margin: 5px;
    font-size: 36px;
}

a {
    text-decoration: none;
    color: inherit;
}